<ion-content [fullscreen]="true">
  <h1 class="fontSemiBold">Preencher lista de desejos</h1>
  <p class="fontRegular">Conta aqui pra gente qual a funcionalidade nova que deseja ver no aplicativo.</p>
  <ion-item lines="none">
    <ion-label position="stacked" class="fontSemiBold">Como podemos chamar a nova funcionalidade?</ion-label>
    <ion-input placeholder="Toque aqui para escrever o nome" class="fontRegular"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked" class="fontSemiBold">Conta pra gente porquê você gostaria de ter ela</ion-label>
    <ion-input placeholder="Toque aqui para falar mais sobre ela" class="fontRegular"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked" class="fontSemiBold">Tem mais algum comentário sobre ela?</ion-label>
    <ion-input placeholder="Toque aqui para falar o que em no seu coração" class="fontRegular"></ion-input>
  </ion-item>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="fontSemiBold">
      Pedir funcionalidade nova
    </ion-button>
  </ion-toolbar>
</ion-footer>