ion-content {
  --padding-start: 24px;
  --padding-end: 24px;
  h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
  }
  ion-item {
    --padding-bottom: 0;
    --padding-top: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-inline-end: 0;
    ion-label {
      color: #39464D;
      font-weight: 600;
      margin-right: 0;
      font-size: 14px;
      margin-bottom: 0;
      line-height: 18px;
      margin-top: 0;
    }
    ion-input {
      --placeholder-opacity: 1;
      --placeholder-color: #6C7980;
      --color: #39464D;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      border-bottom: 1px solid #820AD1;
      --padding-bottom: 0;
      --padding-top: 0;
      --min-height: auto;
      --padding-end: 0;
      --height: 20px;
      --padding-start: 0;
    }
  }
  ion-item + ion-item {
    margin-top: 25px;
  }
}

ion-footer {
  ion-toolbar {
    padding: 0 25px 21px;
    ion-button {
      width: 100%;
      --background: #820AD1;
      --border-radius: 32px;
      font-size: 16px;
      --padding-bottom: 20px;
      --padding-end: 0;
      --padding-start: 0;
      --padding-top: 20px;
      height: auto;
      font-weight: 600;
    }
  }
}